* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

header{
  width: 100%;
  position: fixed;
  background-color: white;
}

.h-title{
  padding: 20px 16px;
  width: 1200px;
}

nav{
  background-color: black;
}

.nav-list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-list-item{
  font-size: 15px;
  list-style: none;
  color: white;
  padding: 5px 50px 5px 5px;
}

.main-visual{
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  margin-bottom: 60px;
}

.main-visual-content{
  width: 30%;
}

.main-visual-text{
  font-size: 15px;
  margin-bottom: 10px;
}

.side-text{
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

main{
  width: 65%;
}

.blog{
  margin-right: 30px;
}

.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
}

.blog-item-text{
  font-size: 15px;
  text-align: center;
}

.sidebar{
  width: 30%;
}

.profile{
  text-align: center;
  margin-bottom: 30px;
}

.profile img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.profile-name{
  margin-bottom: 30px;
}

.ranking{
  text-align: center;
  margin-bottom: 30px;
}

.ranking-title{
  margin-bottom: 30px;
}

.ranking article{
  margin-bottom: 30px;
}

li{
  list-style: none;
}

.archive{
  margin-bottom: 30px;
  text-align: center;
}

.archive-title{
  margin-bottom: 30px;
}

.archive ul{
  border-bottom: solid 1px black;
}

.archive li{
  border-top: solid 1px black;
  padding: 10px;
  text-align: left;
}

footer{
  display: flex;
}